@import url(https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500&display=swap);
html {
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 135%;
  color: #ededed;
  text-align: center;
  max-width: 100%;
  background-color: #091a32;
}
h1 {
  font-weight: 400;
  font-size: 4.5ch;
  text-align: center;
}
h2 {
  font-weight: 400;
  font-size: 3.25ch;
  text-align: center;
}
p {
  white-space: pre-line;
  font-weight: 400;
  font-size: 3ch;
  text-align: left;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  line-height: 1.25;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
/* Style the side navigation */
.sidenav {
  height: 100%;
  border-radius: 1.5ch;
  width: 25%;
  position: fixed;
  overflow-x: hidden;
  background-color: #091a32;
}
/* Side navigation links */
a {
  color: white;
  border-radius: 1.5ch;
  font-size: 3.25ch;
  background-color: #1a355b;
  padding: 3ch;
  text-decoration: none;
  display: block;
  margin: 0.5ch;
  box-shadow: inset 0 0 4ch #091a32;
}
/* Change color on hover */
a:hover {
  background-color: #112746;
}
/* Style the content */
.content {
  height: 100%;
  border-radius: 1.5ch;
  width: 75%;
  position: fixed;
  overflow-x: hidden;
  background-color: #091a32;
  margin-left: 25%;
  border-radius: 1.5ch;
  padding: 0 1ch;
}
/* Scroll bar*/
::-webkit-scrollbar {
  display: none;
}
.columns {
  width: 100%;
  columns: 3;
  display: inline-block;
  padding: 1ch;
  margin: 0;
}
.inner {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.wrapper {
  width: 100%;
}
